extends layout

block content
  h1 Fodmaps

  form(id="search", action="/search", method="post", name="search")
    input(type="text", name="searchFood")
    input(type="submit", value="Search")

  each food in foods
    ul
      each item in food
        li= item.name
